* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}
h1 {
    font-size: 2.05rem;
    line-height: 1.15em;}
html,
body {
    background-color: hsl(200, 6%, 10%);
    color: antiquewhite;
    min-height: 100vh;
    font-family: Roboto,"Helvetica Neue",Arial;
    font-weight: 400;
    font-size: 1rem;

}

.top-bar {
    background-color: hsl(204, 6%, 16%);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 15%;
    width: 70%;
    align-items: center;
   
}

.featured-news ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 1em;
    font-size: small;
}

.top-bar-title {
    color: #FF342F;
}

.editorials ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    font-size: 0.7rem;
}

.main-bar {
    background-color: hsl(0, 100%, 32%);
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1% 15%;
   
}

.main-slider svg {
    width: 3rem;
}

.logo svg {
    width: 20rem;
}

.userarea {
    display: flex;
    align-items: center;
    gap: 0.5em;
    

}

.login {
    
}

.login button {
    height: 2rem;
    justify-self: flex-start;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    background-color:  hsl(204, 6%, 16%);

}

.login svg {
    width: 1.5rem;

}

.register button {
    background-color: hsl(60, 61%, 41%);
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    align-items: center;
}

.header-menu ul {
    list-style: none;
    background-color: hsl(204, 6%, 16%);
    display: flex;
    padding: 0.4rem 15%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    

}

.header-menu svg {
    width: 1.5rem;

}

.two-columns-aside {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    width: 70%;

}

.news-gallery {}

.one-column {
    display: flex;
    justify-content: flex-start;
}

.one-column img {
    width: 730px;
    height: 438px;
}

.news {}

.news-image {}

.news-categories {}

.news-title {}

.news-description {}

.news-author {}

.four-columns {
    display: flex;
    gap: 1em;

}

.four-columns img {
    width: 172px;
    height: 115px;

}

.news-blog {}

.blog-card-image {}

.subscription-link {}

.two-columns {
    display: flex;
    gap: 1em;
    width: 70%;
    

}

.two-columns img {
    width: 350px;
    height: 200px;

}

.news-with-list {
    width: 70%;
}

.news-list ul {
    color: hsl(0, 100%, 32%);
    list-style-type: square;
}

.ads {
    justify-content: flex-end;

}

.four-columns-footer {
    display: flex;
    gap: 1em;
    padding: 0 15%;
    
}

.four-columns-footer img {
    width: 172px;
    height: 115px;

}