@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
a:link {
    text-decoration: none;

}

a {
    color: hsl(38, 9%, 76%);
}

h1 {
    font-size: 2.05rem;
    line-height: 1.15em;
}

img {
    object-fit: cover;
    width: 100%;
}

html,
body {
    background-color: hsl(200, 6%, 10%);
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", Arial;
    font-weight: 400;
    font-size: 1rem;


}

.top-bar {
    background-color: hsl(204, 6%, 16%);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 15%;
    width: 70%;
    align-items: center;

}

.featured-news ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 1em;
    font-size: 0.70rem;
}

.featured-news {
    font-weight: 600;
    color: hsl(38, 9%, 76%);

}

.featured-news ul li:not(:first-child):not(:last-child)::after {
    content: "-";
    margin-left: 0.3rem;

}

.top-bar-title {
    color: hsl(1, 100%, 59%);
}

.editorials ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    font-size: 0.70rem;
    font-weight: 600;
    color: hsl(38, 9%, 76%);

}

.editorials ul li:not(:last-child)::after {
    content: "|";
    margin-left: 0.3rem;
}

.main-bar {
    background-color: hsl(0, 100%, 40%);
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 0.9% 15%;
    align-items: center;
}

.main-slider svg {
    width: 3rem;

}

.main-slider a svg path {
    fill: black;
}

.logo svg {
    width: 20rem;
    transform: translateX(20%);
}

.logo svg path {
    fill: hsl(0, 0%, 100%);
}

.userarea {
    display: flex;
    align-items: center;
    gap: 0.5em;


}

.login {}

.login button {
    
    justify-content: center;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    background-color: hsl(204, 6%, 16%);
    color: hsl(48, 26%, 93%);
    padding: 0.2rem 0.3rem;
}

.login svg {
    width: 1.5rem;

}

.register button {
    background-color: hsl(60, 61%, 41%);
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    align-items: center;
    font-style: italic;
    color: hsl(48, 26%, 93%);
    width: 8rem;
}

.header-menu {
    border-bottom: 3px solid hsl(0, 1%, 36%);
    border-top: 3px solid hsl(200, 6%, 10%);
}

.header-menu ul {
    list-style: none;
    background-color: hsl(204, 6%, 16%);
    display: flex;
    padding: 0 15%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

}

.header-menu svg {
    width: 1.5rem;
    fill: hsl(0, 0%, 100%);
    padding-top: 22%;

}

.two-columns-aside {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    width: 70%;
    gap: 5rem;
    ;
}


.news-gallery {
    flex: 2;
}

.one-column {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3%;

}

.news {
    flex: 4;
}

.news-image {
    margin-bottom: 5%;
}

.news-categories a {
    color: hsl(1, 100%, 59%);
    font-size: 1em;
}
.news-title {

    
}
.news-title :hover {
    color: hsl(1, 100%, 59%);

}

.news-description p {
    display: flex;
    gap: 0.3rem;
    color: hsl(38, 9%, 76%);

}

.news-author a {
    font-size: 1rem;
    color: hsl(45, 2%, 47%);


}

.four-columns {
    display: flex;
    gap: 2em;
    margin-bottom: 5%;
    font-size: 0.8rem;
}

.four-columns img {
    margin-bottom: 10%;
}

.news-blog div {
    display: flex;
    justify-content: center;
    flex: 4;
}

.blog-card-image img {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin-bottom: 20%;
   

}
.subscription-link{
    justify-content: center;
    
 
}
.subscription-link img {
    max-width: 40px;
    max-height: 20px;
   
    
}

.blog-author a {

    border-bottom: 2px solid hsl(0, 1%, 36%);
   color: hsl(1, 100%, 59%);
}
.blog-description{
  flex: 4;
}

.blog-description :hover {
    color: hsl(1, 100%, 59%);
}

.two-columns {
    display: flex;
    gap: 2.5em;
    width: 70%;
    flex: 2;
    
}

.two-columns img {
    width: 350px;
    height: 200px;
    margin-bottom: 5%;

}

.news-with-list {

    color: red;

}

.news-list :hover {
    color: hsl(1, 100%, 59%);

}

.news-list ul li{
    font-weight: 600;
    list-style-type: square;
    list-style-position: inside;
   
    
    
    

}

.news-list ul li {
    margin-bottom: 5%;
    margin-top: 5%;
}

.ads {
    flex: 1;
    min-height: 100vh;

}

.ads img {
    object-fit: cover;
    position: sticky;
    top: 20vh;

}
.news-author-subscription{
    display: flex;
}

.four-columns-footer {
    display: flex;
    padding: 0 15%;
    width: 70%;
    gap: 6rem;
    flex: 1;
    margin-bottom: 5%;
    font-size: 0.8rem;
}

.four-columns-footer img {
    margin-bottom: 5%;
}